<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>关于我们</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
<h1 class="wrw-tit">关于我们</h1>
 邑客网，由境内外知名的投资机构、投资人联合享誉国内外的知名企业家、日用消费品、电子商务、网络营销、互联网技术等专家及精英团队合力打造，利用全球领先的互联网、物联网及移动无线技术（ＬＢＳ、ＧＰＳ、ＡＰＰ），旨在联手住宅社区物业，建立“社区物业 + 社区住户 + 周边商家”之间高效的商务通道。创办中国最领先的“住宅社区在线便利店”既“社区即时送”。</br></br>
	创建“5公里便捷生活圈” 、“0距离购物”、“1小时配送”，为社区住户提供全方位、高品质的社区电子商务服务。真正实现，足不出户：省时、省力、省钱！</br></br></br></br></br></br></br></br></br></br>

</div>

<?php $this->load->view('_footer.html');?>