<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>超市-首页</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content1">
<div class="lxwm"><img src="<?php echo base_url().MIMG;?>lxwm.jpg"> <b>上海 ShangHai</b><br>
<span>上海市普陀区曹杨路 867号&nbsp;</span><br>
邮箱：<a href="mailto:o_speak@163.com" targent="_blank">o_speak@163.com</a><br>
www.o-speak.com<br>
电话:010-888888
<br>
<br>
<br>
<img src="<?php echo base_url().MIMG;?>20131211062419126.jpg" style="width: 324px; height: 135px;"> <b>北京 Beijing</b><br>
<span>北京市朝阳区世纪东方城110-1304室</span><br>
邮箱：<a href="mailto:ahsonan@163.com" targent="_blank">ahsonan@163.com</a><br>
www.o-speak.com</div>
<div class="ggzz-r"><b>南方客户：</b><br>
<span>孙学荣</span><br>
<img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>
<img src="<?php echo base_url().MIMG;?>sj.jpg">15261624526<br>
<img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" targent="_blank">o_speak@163.com</a><br>
<b>北方客户：</b><br>
王鹏<br>
<img src="<?php echo base_url().MIMG;?>tel.jpg">15010336115<br>
<img src="<?php echo base_url().MIMG;?>sj.jpg">15811404278<br>
<img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:ahsonan@163.com" targent="_blank">ahsonan@163.com</a><br>
<b>华南区客户：</b><br>
<span>Amy</span><br>
<img src="<?php echo base_url().MIMG;?>tel.jpg">18601639571<br>
<img src="<?php echo base_url().MIMG;?>sj.jpg">13120857312<br>
<img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@126.com" targent="_blank">o_speak@126.com</a>
</div>
</div>
<?php $this->load->view('_footer.html');?>