<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>法律申明</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
<h1 class="wrw-tit">法律申明</h1>
入驻邑客社区网购超市<br>
产品运作方法：供应商通过社区邑客网站进行产品网络销售。邑客对于上线产品进行线上、线下的推广。<br>
A：供应商需具备的条件 <br>
① 北京本地有实体店、仓库或分公司，发货比较方便的供应商。 <br>
②供应商资质，商品资质要齐全，根据行业类别提供相关资质证书，一般包括（供应商营业执照，税务登记证，组织机构代码证，开户许可证，商标注册证，食品流通许可证，代理授权证及商品合格证等相关资质）。<br> 
③所有商品必须有商标，生产日期（产品批次），厂家名称等商品所必须的标识，保证商品质量合格。 <br>
④ 供应商需提供给邑客的折扣及合作产品享有与其他电子商务网站同等或更优惠的合作条件。<br> 
⑤配送方面，供应商需保证商品配送，准确无误3-5个工作日内送达到邑客总部。供应商发货的快递最好是大中型的快递公司，能够有足够的保证。<br> 
⑥合作商品库存：长期上线的商品必须保证库存充足，对于季节性强的商品，对邑客有适当备货，如果商品库存没有保障，供应商需前一个星期及时通知到邑客，及时变更库存。<br>
B：我方平台可提供的条件<br> 
①   平台展示线上推广 <br>
②   DM单社区推广 <br>
③   短信、电话推广 <br>
④．辅助供应商进社区线下推广
C：合作双赢的分配方式 <br>
供应商享受原利润，承担配送物流费用我方享受供货价格和网站上线价格之差的利润<br>
合作洽谈、咨询<br>
招商部：网经理 <br>
邮箱：zhaoshang@yikego.com <br>
手机：156 1232 5566<br>

</div>

<?php $this->load->view('_footer.html');?>