<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>服务声明</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
    <p>注册表格</p>
<p>邑客网的注册表格（比如加入会员、登录个人简历,订信息邮件,电子杂志等）会要求访问者提供一些个人资料，我们将其分类为联系信息和个人信息两类：</p>
<p>• 联系信息：如姓名、 E-mail 、电话、通信地址、现工作单位、传真等。</p>
<p>• 个人信息：如年龄、性别、居住地、学历、收入状况等。</p>
<p>邑客网将按照访问者在表格上填写的联系方式，不定期地向访问者发送本网站及其他合作者的信息，必要时我们将与访问者取得联系。</p>
<p>1、访问者有权选择不接受这些邮件。</p>
<p>2、访问者的联系信息有时被收集是用于邑客网以及第三方与访问者取得联系。</p>
<p>3、访问者的个人信息有时被收集是用于鉴别用户的身份。</p>
<p>4、访问者的联系信息和个人信息将会被统计、汇总，在我们的严格管理下，为我网站的广告商及合作者提供依据。</p>
<p>版权所有</p>
<p>邑客网是以新闻资讯信息为核心的门户内容网站。邑客网所有内容的版权均属于上海邑客市场咨询有限公司或页面内声明的版权人。</p>
<p>&nbsp;</p>
<p>1、未经本网站协议许可，任何其他个人或组织均不得以任何形式将邑客网的各项资源转载、复制、编辑或发布使用于其他任何场合或建立链接；不得把其中任何形式的资讯散发给其他方，不可把这些信息在其他的服务器或文档中作镜像复制或保存；不得修改或再使用本站的任何资源。若有意转载本站信息资料，必需取得本站授权。</p>
<p>&nbsp;</p>
<p>2、所有与邑客网链接的网站及其内容和版权由相应的提供者与拥有者负责，本站不对其内容或形式等担负任何直接或间接的商业或法律责任。本站转载的资料及部分图片，未经合法原权利人和本站书面许可，任何人不能作为商业用途。本站不负责转载部分可能造成的所有责任。</p>
<p>&nbsp;</p>
<p>3、对于本网注册的用户在本网站上载或发布的视频、音频或其它任何形式的内容包括文字、图片、连接等, 该等用户应该保证其对作品享有合法著作权/版权，并且用户同意授予邑客网对所有上述作品和内容的在全球范围内的免费、不可撤销的无限期的并且可转让的排他性使用权许可，邑客网有权展示、散布及推广前述内容，有权对前述内容进行任何形式的复制、修改、出版、发行及以其他方式使用或者授权第三方进行复制、修改、出版、发行及以其他方式使用。</p>
<p>&nbsp;</p>
<p>用户在本网站上传或发布转载作品的，用户保证其已获得所有相关著作权人（包括但不限于作者、表演者、录音录像制作者等）的合法、有效授权，并且有权排他性授权邑客网无偿展示、散布及推广前述内容，对前述内容进行任何形式的复制、修改、出版、发行及以其他方式使用或者授权第三方进行复制、修改、出版、发行及以其他方式使用的权利和自由。 如邑客网的内容与任何人的作品有雷同之处或对任何人可能造成伤害，请联系我们</p>
<p>外部链接</p>
<p>邑客网会与其他网站链接，邑客网不对其他网站的隐私政策及内容负责</p>
<p>&nbsp;</p>
<p>信息更改与删除</p>
<p>除了信息的发布者外，任何访问者不得更改或删除他人发布的任何信息。 邑客网的访问者可以更改、修正或删除以前所提供的联系信息和个人信息。 邑客网有权根据其判断保留修改或删除任何不适信息之权利。</p>
<p>&nbsp;</p>
<p>关于未成年人隐私的保护</p>
<p>邑客网承诺保护未成年人个人资料的保密性及安全性。 在未得到未成年人监护人的允许或事先声明情况下，邑客网不会在线收集任何未成年人的联系信息（包括姓名、地址、联系方式）。 但是未成年人隐瞒其身份,虚假提供信息时,本网站不负任何责任。</p>
<p>&nbsp;</p>
<p>特别声明</p>
<p>邑客网将不定期地更新本隐私声明，以反映公司和客户的反馈。邑客网之隐私保护声明以及其修改权、更新权均属本网站。</p>
<p>&nbsp;</p>
<p>信息安全</p>
<p>除本隐私权保护规则中另行明示讨论者外，本文件只涉及对邑客网从您收集得来的资料的使用和披露。在您将您的资料披露给其他方（不论它们是本网站或互联网上的其他网站的广告客户或者网络内容发布商）的范围内，它们对您所披露的个人资料的使用或披露可能适用不同的规则。本网站不控制第三方的隐私权保护规则，因此您须受该第三方的隐私权保护规则的约束。本网站建议您在向他人披露您的个人资料之前作出查询。</p>
<p>&nbsp;</p>
<p>您须对使用您的用户名和密码所采取的一切行动（包括费用）负责。因此，本网站建议您不要向任何第三方披露您的邑客网站密码。如果您选择与第三方共用您的用户名或您的资料以获得额外服务，则您同意对您使用您的用户名和密码所采取的一切行动负责，而且您须审阅该第三方的隐私权保护规则。如果您对您的密码失去控制，您可能对您的个人资料失去实质性的控制，并可能须受他人以您的名义采取的有法律约束力的行动的制约。因此，如果您的密码因任何原因而受到危害，您须立即联络本网站，以修改密码。</p>
<p>&nbsp;</p>
<p>邑客网将对您所提供的资料进行严格的管理及保护，本网站采用行业标准努力以维护您的个人资料的隐私性，如包括“防火墙”及安全套接层协议，防止您的个人资料丢失、被盗用或遭篡改。 互联网上的内容或第三方提供的内容可能对您的系统有害。本网站强烈鼓励使用病毒防护软件、个人防火墙等以保卫及保护您的系统。</p>
<p>&nbsp;</p>
<p>虽然邑客网采用行业标准惯例以保护您的个人资料，鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本隐私权保护规则中未列明的途径泄露出去。例如（而不限制上述规定），第三方可能会非法截取或取得所输送的资料或私人通讯。因此，尽管本网站采取行业标准惯例保护您的隐私权，但本网站不能且不保证（而且您不应预期）您的个人资料或私人通讯将永远是隐私。个人及公司资料之披露。</p>
<p>&nbsp;</p>
<p>当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本公司均不承担任何责任。</p>
<p>&nbsp;</p>
<p>Cookies</p>
<p>本公司在网站的某些网页上和广告投放系统中使用诸如"Cookies"的资料收集装置。本网站仅采集不涉及用户隐私的信息，以实现更好的服务。所有用于广告投放的数据都是匿名的，并不涉及您的个人信息。"Cookies" 是设置在您的硬驱动器上的小档案，它可以记录您和网站的交互信息以协助本公司提供度身订造的服务。这类信息包括：电脑IP地址，浏览过的网页内容，浏览的时间和停留时间等。本网站可能会分析您的IP地址以识别您所在的地区，但本网站承诺不会利用IP地址来辨识您的身份，任何可识别的个人信息都不会被记录。如果您选择退出，我们会删除所有之前收集到的信息并标注以避免再次记录您的信息。"Cookies" 存储在您的硬盘中，而非本网站的网站中。大多数的"Cookies" 属于"期间性Cookies" ，意思是它们会在一段期间结束时自动删除。如果您的浏览器允许，您可以拒绝本公司的"Cookies" 。</p>
<p>如果您不希望接收这些具有一定相关性、基于匿名数据，定向投放的广告，您可以选择点击此处以退出。</p>
<div><br></div>    </div>

<?php $this->load->view('_footer.html');?>