<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>广告赞助</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
    <h1 class="wrw-tit">广告赞助</h1>
    邑客网作为国内首屈一指的电商新经济门户网站，以不断的创新服务，具备极强的商业合作价值。此外，邑客网依托其丰富的产品线以及全新的广告合作模式，通过与不同产品的结合，使品牌及产品更加友好的展现在用户面前。 邑客网在网络营销方面拥有受众高端、互动性强、投放精准等特点，与国内外诸多知名的企业合作，为他们提供最有效的网络营销解决方案。<br>

    <div class="ggzz-l"><h2>广告销售联系：</h2>
        <ul>
            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>

            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>
            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>
        </ul>

        <h2>广告销售联系：</h2>
        <ul>
            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>

            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>
            <li>
                <span>孙学荣</span><br>
                <img src="<?php echo base_url().MIMG;?>tel.jpg">15261624526<br>

                <img src="<?php echo base_url().MIMG;?>mail.jpg"><a href="mailto:o_speak@163.com" target="_blank">o_speak@163.com</a></li>
        </ul>

    </div>
</div>
<?php $this->load->view('_footer.html');?>