<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>加入我们</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
<h1 class="wrw-tit">加入我们</h1>
我们的愿景：让生活更美好！</br>
我们的使命：中国领先的住宅社区在线购物超市！</br>
我们的价值观：诚信、责任、服务、创新</br>
我们的宗旨：创建社区电子化服务的标杆！</br>
我们的精神：同心同德、携手并进</br></br>


我们的宣言</br>
邑客团队是一支主动积极、乐于奉献、重视学习的团队，我们相信我的成长就是团队的成长。</br>
因此，诚信待人、承担责任、热心服务、力求创新是我们的价值观！</br>
我是个责任者，创造价值、爱惜时间、认真做好每件事，就是责任的表现!</br>
我是个责任者，敬业修德，注重细节，维护形象，提高效率就是我们成就的动力！</br>
我喜欢我自己，我是团队中最棒的哪一位！</br></br>


成长晋升</br>

入职前：新人培训：入职前的4天专业知识培训和身体素质的拓展训练，让你对我们有一个基本的认识。</br>
入职一个月：我们会安排专业知识的培训与提升讲座。</br>
入职三个月：实习储备店长的培训、实习储备店长的内部竞聘。</br>
入职六个月 :储备店长的培训管理技能的提升、团队建设。</br>
恭喜你！成功晋升为店长！！！</br>
在邑客，从菜鸟到管理者的时间—sofast！</br>
最快3个月晋升为实习储备店长！</br>
最快6个月晋升为正式储备店长！</br>
最快1年晋升为区长！</br>
最快2年晋升为市长！</br></br>

最新岗位 （具体薪资面议）</br>
诚聘公司配送人员（限男性）</br>
薪资水平：2000元-3000元 </br>
工作经验：1-3年 </br>
职位性质：全职 </br>
职位介绍： </br>
 1、负责将客户购买的商品安全无误的送到客户手中； </br>
 2、客户未在网上付款的需将款项收回交给订单主管；</br> 
 3、在将商品送到客户手中的过程中要注意服务态度；</br> 
 4、公司提供食宿，五险一金，及商业意外保险，上六休一，节假日工资加倍。 </br>
任职资格： </br>
 1、男，18到28周岁之间，身体健康； </br>
 2、无前科，背景简单； </br>
 3、普通话标准； </br>
 4、有学习能力； </br>
 5、能吃苦耐劳。</br>
诚聘市场推广人员（限男性）</br>
薪资水平：2000元-3000元 </br>
工作经验：1-3年 </br>
职位性质：全职 </br>
职位介绍： </br>
 1、熟悉市内环境； </br>
 2、负责宣传邑客网站； </br>
 3、工作细致认真，责任心强，思维敏捷，具有较强的团队合作精神； </br>
 4、有良好的职业道德和素养，能承受一定工作压力； </br>
 5、公司提供食宿，五险一金，及商业意外保险，上六休一，节假日工资加倍。 </br>
任职资格： </br>
 1、18至28周岁，限男性；</br> 
 2、有市场销售相关工作经验者，优先考虑；</br> 
 3、无前科，背景简单；</br> 
 4、普通话标准；</br> 
 5、有学习能力； </br>
 6、能吃苦耐劳。</br>
客服人员 </br>
薪资水平：2000元-3000元 </br>
职位性质：全职 </br>
工作经验：1-3年 </br>
学历要求：高中以上 </br>
职位介绍： </br>
 1、店面客服需解决客户的电话疑问及订单的咨询； </br>
 2、公司总部的客服需通过电话宣传邑客网站； </br>
 3、工作细致认真，责任心强，思维敏捷，具有较强的团队合作精神；</br> 
 4、有良好的职业道德和素养，能承受一定工作压力； </br>
 5、公司提供食宿，五险一金，及商业意外保险，上六休一，节假日工资加倍。 </br>
任职资格： </br>
 1、口齿伶俐，思维敏捷；</br> 
 2、良好的沟通和协调能力，工作积极、细致、严谨； </br>
 3、身体健康，无不良好记录； </br>
 4、有相关工作经验者优先录用。</br>
诚聘订单管理人员 </br>
薪资水平：2000元-3000元 </br>
职位性质：全职 </br>
工作经验：1-3年 </br>
学历要求：高中以上 </br>
职位介绍： </br>
 1、负责客户在本公司下订单的接收整理工作，审核后下达至相关部门； </br>
 2、负责对销售的各类数据进行统计汇总、 对顾客的资料进行归档保存； </br>
 3、与客户确认发货时间，款项到账后制作销售单，安排库房备货，通知物流提货；</br> 
 4、每月与财务核对应收账款，进行对账工作； </br>
 5、公司提供食宿，五险一金，及商业意外保险，上六休一，节假日工资加倍。 </br>
任职资格： </br>
 1、工作经验，订单管理经验者优先考虑，优秀应届毕业生亦可； </br>
 2、口齿伶俐，思维敏捷； </br>
 3、身体健康，无不良好记录； </br>
 4、良好的沟通和协调能力，工作积极、细致、严谨。</br></br>

简历发送</br>
简历发送邮箱：hr@yikego.com </br>
面试地点：上海市嘉定区曹安公路1886号曹安国际商城86楼</br>
招聘电话：021-5090 9889   李小姐</br>

</div>
<?php $this->load->view('_footer.html');?>