<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>法律申明</title>
<?php $this->load->view('about/a_top.html');?>

<div class="wrw-content">
<h1 class="wrw-tit">免责申明</h1>
 下列情况时本网站亦毋需承担任何责任：</br>

1、由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</br>

2、任何由于黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。</br>

3、由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</br></br></br></br></br></br></br></br></br></br>

</div>

<?php $this->load->view('_footer.html');?>