<!-- footer -->
<div class="foot">
<div class="foot-logo">
<a href=""><img src="<?php echo base_url().MIMG.'foot-logo.jpg';?>"></a>
</div>
<div class="foot-m">
@沪ICP备14045102号 </br>
上海邑邻电子商务有限公司 (上海市宝山区沪太路9088号3号楼A-562)</br>
营业执照号：310113001227069</br>
联系方式 ：010-56996001 全国统一客服电话：10108001
</div>

<div class="foot-r">
<div class="foot-r1">

<a href="<?php echo site_url('about/csrz');?>"><img src="<?php echo base_url().MIMG.'csdq.jpg';?>"></a>
<a href="<?php echo site_url('home/login');?>"><img src="<?php echo base_url().MIMG.'sjdl.jpg';?>"></a>
</div>
<div class="foot-r2">
<img src="<?php echo base_url().MIMG;?>ew1.jpg">
<img src="<?php echo base_url().MIMG;?>ew2.jpg">
</div>
</div>
</div>

</body>
</html>