<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7 charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $good['name'];?> - 邑客社区网购超市</title>
<meta name="description" content="测试商品属..." />
<meta name="keywords" content=",测试1,厨房	油,标签标签标签标签标签标签标签标签标签标签标签标签" />
<link href="<?php echo base_url().MCSS;?>style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo base_url().MJS;?>jquery-1.7.2.min.js" charset="utf-8"></script>
<script type="text/javascript" src="<?php echo base_url().MJS;?>images.js"></script>


<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

<?php $this->load->view('_top.html');?>
<script type="text/javascript">
  function gsearch(sid){    
    var kw = $.trim($('#p_kw').val());      
    if(kw == '搜索您要买的商品' || kw == '')
      return false;
    else{
      var gourl = "<?php echo site_url('store/goodSearch');?>"+'/sid/'+sid+'/keyword/'+decodeURIComponent(kw);
      window.location.href = gourl;        
    }    
  }

  function show_fl(){
        if($(".show-fenlei").css('display') == 'block'){
            $(".show-fenlei").css('display', 'none');
        }else{
            $(".show-fenlei").css('display', 'block');
        }
        //$(".show-fenlei").css('display', 'block');
    }

    function addCart_desc(sid,tid,pid,name,price,desc){
        var gourl = "<?php echo site_url('cart/finishCart');?>";
        var url = "<?php echo site_url('cart/addCart');?>";
        var num = $("input[name='input_item_3']").val();
        var img = "http://cimall.dev/assets/images/3_37.jpg";
        $.post(
            url,
            {sid:sid,tid:tid,pid:pid,name:name,price:price,num:num,img:img,desc:desc},
            function(data){
                if(data)
                    window.location.href = gourl;
                else
                    alert('添加购物车失败！');
            },
            'json');        
    }


    function toBuy(sid,tid,pid,name,price,desc){
        var buyurl = "<?php echo site_url('cart/buy');?>";
        var url = "<?php echo site_url('cart/addCart');?>";
        var num = $("input[name='input_item_3']").val();
        var img = "http://cimall.dev/assets/images/3_37.jpg";
        $.post(
            url,
            {sid:sid,tid:tid,pid:pid,name:name,price:price,num:num,img:img,desc:desc},
            function(data){
                if(data)
                    window.location.href = buyurl;
                else
                    alert('添加购物车失败！');
            },
            'json');
        
    }

    /**小车添加购物车****/
    function addCart(sid,tid,pid,name,price,desc){       
        var url = "<?php echo site_url('cart/addCart');?>";
        var num = $("#g-num"+pid).text();
        if(num == '') num=0;
        //alert(num);return false;
        var img = "http://cimall.dev/assets/images/3_37.jpg";
        $.post(
            url,
            {sid:sid,tid:tid,pid:pid,name:name,price:price,num:1,img:img,desc:desc},
            function(data){
                if(data){
                    //num = parseInt(num)+1;
                    //alert(num);
                   $("#g-num"+pid).text(data.num);
                   $("#gwc_sum").text(data.sumnum);
                }                    
                else
                    alert('添加购物车失败！');
            },
            'json');        
    }
    
</script>
<div class="cp-top1">
    <div class="cp-top1-L">
        <a href="<?php echo site_url('store');?>"><img src="<?php echo base_url().MIMG;?>3_07.png"  class="cpp-logo" width="96" height="96" /></a><h1>比邻便利超市</h1>
    </div>

    <div class="cp-top1-R">
        <p><font style="font-size:22px">30元起送</font></br>1000米内30分钟送到</p>
        <p>营业时间10:00-22:00</br>普陀曹杨路曹杨2村236号</p>
        <p class="cp-tel">15950410056</br>15950410056</p>
        <div class="top-gwc fr">
            <a href="<?php echo site_url('cart');?>" title="购物车"><img src="<?php echo base_url().MIMG;?>3_24.jpg" style="margin:20px 0 0 45px"></a>
            <div class="top-gwc-num"><span id="gwc_sum"><?php echo $sumnum == 0 ? '' : $sumnum;?></span></div>
        </div> 
    </div>    
</div>

<div class="cp-dh">
    <div class="fenlei-nav">
        <a href="javascript:;" onclick="show_fl()" class="fl"><img src="<?php echo base_url().MIMG;?>3_33.jpg"></a>
        <div class="show-fenlei">
            <ul>
                <li><a href="<?php echo site_url('store/single').'/sid/'.$storeid;?>"><span>全部分类</span></a></li>
                <?php foreach($fenlei as $k => $fl): ?>
                <li><a href="<?php echo site_url('store/single').'/sid/'.$storeid.'/tid/'.$fl['productTypeId'];?>"><span><?php echo ++$k;?>F&nbsp;<?php echo $fl['name'];?></span></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <a href="<?php echo site_url('store/single').'/sid/'.$storeid;?>" class="shouye">首页</a>
    <div class="cp-from">            
        <input name="keyword" type="text" id="p_kw" class="cp-from1" value="搜索您要买的商品" onfocus="if(this.value=='搜索您要买的商品') this.value='';" onkeyup="STip(this.value);" onkeydown="javascript:if(event.keyCode==13)gsearch(<?php echo $storeid;?>);"/>           
        <button class="cp-from2" onclick="gsearch(<?php echo $storeid;?>)">搜索</button>           
    </div> 



    <a href="" class="fl m15 l15"><img src="<?php echo base_url().MIMG;?>3_38.jpg"></a>
    <a href="" class="fl m15"><img src="<?php echo base_url().MIMG;?>3_36.jpg"></a>
</div> 

<div class="cp-top2">    
<script type="text/javascript" src="<?php echo base_url().MJS;?>goodsinfo.js" charset="utf-8"></script>
<script type="text/javascript" src="<?php echo base_url().MJS;?>cart.js" charset="utf-8"></script>


<div class="cp-neiye1">
    <div class="image" id="bigpics">
        <img src="<?php echo base_url().MIMG;?>2_10.jpg" width="400" height="400"  />
    </div>

    <div class="switch">
        <div class="icon1"><a href="#" title="上一个" onfocus="this.blur();">上一个</a></div>
        <div class="switch_center" id="pics">
            <ul>
                                <li>
                <a href="#" class="on"><img src="<?php echo base_url().MIMG;?>2_10.jpg" width="60" height="60" /></a>
                </li>
                                <li>
                <a href="#" ><img src="<?php echo base_url().MIMG;?>3_37.jpg" width="60" height="60" /></a>
                </li>
                
            </ul>
        </div>
        <div class="icon2"><a href="#" title="下一个" onfocus="this.blur();">下一个</a></div>
        <div class="clear"></div>
    </div>
</div> 
<div class="cp-neiye2">
    <div class="cp-neiye2-l">
        <div class="cp-neiye2-l-top">
            <h1><?php echo $good['name'];?></h1>
            <h2><?php echo $good['summary'];?>&nbsp;</h2>
        </div>
        <div class="cp-neiye2-l-top1">
            <img src="<?php echo base_url().MIMG;?>6_03.jpg" style="float:left;margin-top:23px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="color:red;font-size:32px">&yen;<?php echo $good['price'];?></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<del>&yen;<?php echo $good['price'];?></del>
        </div>
        <div class="cp-neiye2-l-top2">
            送积分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $good['count'];?>
        </div>
        <div class="cp-neiye2-l-top3">
            产品编号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $good['sku'];?>
        </div>
        <div class="cp-neiye2-l-top4">
			<div class="choose-amount fl shuliang">
				<div class="wrap-input">
					<a class="btn-reduce" href="javascript:;" onclick="decrease_quantity(3);">-</a>
					<a class="btn-add" href="javascript:;" onclick="add_quantity(3);">+</a>
					<input id="input_item_3" name="input_item_3" value="1" orig="1" changed="1" onkeyup="change_quantity(2, 3, 2, this);" class="width3" type="text">
				</div>
			</div>
            <a href="javascript:addCart_desc(<?php echo $storeid?>,<?php echo $good['productTypeId'];?>,<?php echo $good['productId'];?>,'<?php echo $good['name'];?>','<?php echo $good['price'];?>','<?php echo $good['description'];?>');" title="加入购物车"><img src="<?php echo base_url().MIMG;?>6_07.jpg"></a>
            <a href="javascript:toBuy(<?php echo $storeid?>,<?php echo $good['productTypeId'];?>,<?php echo $good['productId'];?>,'<?php echo $good['name'];?>','<?php echo $good['price'];?>','<?php echo $good['description'];?>');" title="立即购买"><img src="<?php echo base_url().MIMG;?>6_09.jpg"></a>
        </div>
        <div class="cp-neiye2-l-top5">
            <span>支付方式：</span><span class="zhifu">支付宝</span><span class="zhifu">货到付款</span>
        </div>
        <div class="cp-neiye2-l-top6">
        <div class="bshare-custom icon-medium"><div class="bsPromo bsPromo2"></div><a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
        </div>
    </div>
    <div class="cp-neiye2-r">
        <div class="cp-neiye2-r-top"><img src="<?php echo base_url().MIMG;?>xing.png" alt="" /><span>收藏</span><span><?php echo $good['count'];?></span></div>
        <div class="cp-neiye2-r-top2"><span>商品描述</span><hr />
        <div class="co-neiye2-r-top3">请从以下几个方面进行描述<br><br>
            <?php echo $good['description'];?>
        </div>
        </div>
    </div>
</div>    

    <div class="clear"></div>

	<div class="footmark_title"><h2 class="title">看过本商品的用户还购买过</h2></div>
	<div class="cp-show clearfix">
		<ul>            
            <?php if(!empty($randgoods)): foreach($randgoods as $k => $good): ?>
			<li>
                <a href="<?php echo site_url('store/singleGood').'/sid/'.$storeid.'/tid/'.$good['productTypeId'].'/pid/'.$good['productId'];?>"><img src="<?php echo base_url().MIMG;?>3_37.jpg" style="width:175px;height:173px"></a>
                <div class="g-bottom">
                    <div class="g-price fl">
                        <?php echo $good['name'];?>
                        </br>
                        <del>&yen;<?php echo $good['price'];?></del>
                        <span>&yen;<?php echo $good['price'];?>元</span>
                    </div>
                    <div class="g-cart fr">
                        <a href="javascript:;" onclick="addCart(<?php echo $storeid?>,<?php echo $good['productTypeId'];?>,<?php echo $good['productId'];?>,'<?php echo $good['name'];?>','<?php echo $good['price'];?>','<?php echo $good['description'];?>')">
                            <img src="<?php echo base_url().MIMG.'3_41.jpg';?>">
                        </a>
                        <?php 
                            $shownum = 0;
                            if(array_key_exists($good['productId'], $carts)){
                                $shownum = $carts[$good['productId']]['num'];
                            }
                        ?>
                        <div class="g-cart-num"><span id="g-num<?php echo $good['productId'];?>"><?php echo $shownum==0?'':$shownum;?></span></div>
                    </div>                  
                </div>
            </li>
			<?php endforeach;endif;?>
		</ul>

</div>
<?php $this->load->view('_footer.html');?>