<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登陆界面</title>
	<script type="text/javascript" src="<?php echo base_url().MJS.'jquery-1.7.2.min.js';?>" charset="utf-8"></script>
<link href="<?php echo base_url().MCSS.'style.css';?>" rel="stylesheet" type="text/css" />
</head>
<body>
<?php $this->load->view('_top.html');?>
<div class="denglu-g">
<form action="<?php echo site_url('home/doLogin');?>" method="post" id="login_form">
    <ul>
        <h1>用户登录</h1>
        <li><b>用户名：</b><input type="text" name="user_name" class="yonghumin"></li>
        <li><b>密&nbsp;&nbsp;&nbsp;&nbsp;码：</b><input type="password" name="password" class="mima"></li>
        <li><input type="submit" value="" class="denglu"><a href="index.php?app=find_password" style="float:left;">找回密码</a></li>    
    </ul>
</form>
</div>
<?php $this->load->view('_footer.html');?>