<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登陆界面</title>
	<script type="text/javascript" src="<?php echo base_url().MJS.'jquery-1.7.2.min.js';?>" charset="utf-8"></script>
<link href="<?php echo base_url().MCSS.'style.css';?>" rel="stylesheet" type="text/css" />
</head>
<body>
<?php $this->load->view('_top.html');?>
<!-- login -->
<div class="wrw-dl">
	<form action="<?php echo site_url('home/doLogin');?>" method="post" id="login_form">
		<input type="hidden" name="backurl" value="<?php echo $backurl;?>">
		<div class="wrw-dl-1">
			<h1>用户登录</h1>
			<a href="<?php echo site_url('home/register');?>">注册新账号</a>
		</div>
		<div class="wrw-dl-2"></div>
		<ul>
			<li><img src="<?php echo base_url().MIMG;?>wrw-yh.jpg"><input  type="text" class="mima" name="user_name" placeholder="请输入用户名或者手机号码"></li>
			<li><img src="<?php echo base_url().MIMG;?>wrw-mm.jpg"><input  type="password" class="mima" name="password" placeholder="请输入您的密码，谢谢"></li>
			<li style="border:none;margin:0px 0 16px 18px;height:24px;">
			<input id="clause" type="checkbox" name="agree" value="1" /> <label for="clause">自动登录 </label><a href="" target="_blank" class="wrw-wjmm">忘记密码</a>
			</li>
		<h2>   <input type="submit" name="Submit" value="" class="wrw-dd"></h2>
		</ul>
	</form>
</div>
<!-- login end -->
<?php $this->load->view('_footer.html');?>