<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>注册页面</title>	
	<link href="<?php echo base_url().MCSS.'style.css';?>" rel="stylesheet" type="text/css" />
	<link href="<?php echo base_url().MCSS.'login.css';?>" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="<?php echo base_url().MJS.'jquery-1.7.2.min.js';?>" charset="utf-8"></script>
</head>
 <body>
 <?php $this->load->view('_top.html');?>
<!-- denglu start -->
<div class="denglu-g">
<form action="<?php echo site_url('home/doRegister');?>" method="post">
	<input type="hidden" name="backurl" value="<?php echo $backurl;?>">
<ul>
<h1></h1>
<li>手机号：<input type="text" name="accountName" class="yonghumin" placeholder="请输入手机号码"></li>
<li style="border:none">
 <input type="text" name="captchaCode" class="yzm" id="captcha1" placeholder="请输入验证码">
<span onclick="sendPhone()" id="sendbtn" class="denglu">获取手机验证码</span>
</li>

<li>设置密码：<input  type="password" class="mima" name="accountPasswd" placeholder="6-20个大小写英文字母、符号或数字"></li>
<li>确定密码：<input  type="password" class="mima" name="re_accountPasswd" placeholder="请再次输入密码"></li>
<li>用户地址：<input type="text" name="address" class="mima" placeholder="请输入您的地址"></li>
<li style="border:none;margin-left:-16px;">
<input id="clause" type="checkbox" name="agree" value="1" /> <label for="clause">我已阅读并同意 <a href="index.php?app=article&amp;act=system&amp;code=eula" target="_blank" class="agreement">《邑客服务协议》</a></label>
</li>
<h2>   <input type="submit" name="Submit" value="" id="SubmitStatic" class="zhucc"></h2>
</ul>
</form>

</div>
 <!-- denglu end -->

<script type="text/javascript">
	function sendPhone(){
		var url = "<?php echo site_url('home/sendPhone');?>";
		var phone = $("input[name='accountName']").val();
		//alert('message');
		$.post( url,
				{info:'register',phone:phone},
				function(data){
					//alert(10);
					if(data == 0){
						alert('发送成功');
					}else if(data == -2){
						alert("发送次数太多，稍等");
					}else{
						alert("发送失败");
					}
				},
				'text');
	}
</script>
<?php $this->load->view('_footer.html');?>
